
  <div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <!-- Billing Details -->

                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Product Listing</h3>
                        <a class="primary-btn order-submit" routerLink='/add-product' style='float:right'>Add product</a>
                    </div>
                    <div *ngIf="successMessageFlag"class="success">{{successMessage}}</div>
                    <div *ngIf="errorMessageFlag"class="danger">{{errorMessage}}</div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Product Id</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Category Id</th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listData">
                              <td>{{item._id}}</td>
                              <td>{{item.name}}</td>
                              <td>{{item.category_id}}</td>
                              <td>{{item.category_name}}</td>
                                <td>
                                    <a  class='col-md-1' (click)='deleteProduct(item._id)'><i class="fa fa-trash" aria-hidden="true"></i></a>
                                    <a [routerLink]="['/edit-product',item.id]" class='col-md-1'><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                </td>
                          </tr>
                        </tbody>
                      </table>
                      <div><b>Showing {{listData.length}} out of  {{numOfrecords}} records </b></div>
                      <nav aria-label="Page navigation example">
                        
                        <ul class="pagination">
                          
                          <li class="page-item" [ngClass]="[currentPage < 1 ? 'disabled' : '']" >
                            <a class="page-link" *ngIf="currentPage-1 >= 1"  [routerLink]="['/product-list',currentPage-1]" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only" >Previous</span>
                            </a>
                            <a class="page-link" *ngIf="currentPage-1 < 1" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only" >Previous</span>
                            </a>
                          </li>
                          <li class="page-item" [ngClass]="[i+1 == currentPage ? 'active' : '']" *ngFor="let pageNo of listData|slice:0:totalPages; let i = index"><a class="page-link" [routerLink]="['/product-list',i+1]">{{i+1}}</a></li>
                          <li class="page-item"[ngClass]="[currentPage > totalPages ? 'disabled' : '']" >
                            <a class="page-link" *ngIf="currentPage-(-1) <= totalPages" [routerLink]="['/product-list',currentPage -(-1)]" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                            <a class="page-link" *ngIf="currentPage >= totalPages"  aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>  