<header>
    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h2 style='color:white;text-align:center'>Curd Application</h2>
                </div>
               
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>
<div class="col-md-12"><br><br>
    <div class="col-md-3"><h4> <a routerLink='/category-list' >
        <b>View All Categories</b></a></h4>
    </div>
    <div class="col-md-3"><h4><a routerLink='/product-list' ><b>View All Products</b> </a></h4></div>
</div>
<b><br>